.margin-top10{
    margin-top: 10px !important ;
}
.margin-bot20{
    margin-bottom: 20px !important;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}