<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <title> Asset Management System </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin RTL Theme #3 for dashboard & statistics" name="description" />
    <meta content="" name="Phat Dang - VN" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/error-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/Content/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jqvmap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/clockface.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/datatables.bootstrap-rtl.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/components-rtl.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/plugins-rtl.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/Content/layout-rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/default-rtl.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Content/custom-rtl.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body class="page-container-bg-solid">
    <div class="page-wrapper">
        @Html.Partial("_Header")
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <!-- BEGIN CONTAINER -->
                <div class="page-container">
                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        <!-- BEGIN CONTENT BODY -->
                        <!-- BEGIN PAGE HEAD-->
                        <!-- END PAGE HEAD-->
                        <!-- BEGIN PAGE CONTENT BODY -->
                        <div class="page-content">
                            <div class="container">
                                <!-- BEGIN PAGE BREADCRUMBS -->
                                <!-- END PAGE BREADCRUMBS -->
                                <!-- BEGIN PAGE CONTENT INNER -->
                                <div class="page-content-inner">
                                    @RenderBody()
                                </div>
                                <!-- END PAGE CONTENT INNER -->
                            </div>
                        </div>
                        <!-- END PAGE CONTENT BODY -->
                        <!-- END CONTENT BODY -->
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END CONTAINER -->
            </div>
        </div>

        @Html.Partial("_Footer")

    </div>

    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Scripts/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/morris.min.js" type="text/javascript"></script>
    <script src="~/Scripts/raphael-min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="~/Scripts/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.flot.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.vmap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/clockface.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Scripts/app.js" type="text/javascript"></script>
    <script src="~/Scripts/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Customs/global-custom.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Scripts/dashboard.min.js" type="text/javascript"></script>
    <script src="~/Scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/Scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/Scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/Scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/Scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
