@model AssetManagement.Models.Setting.CompanySettingViewModel
@{ 
    string src = "../UploadedLogo/" + Model.LoginLink;
}
<a href="index.html">
    <img src="@src" alt="logo" class="logo-default" height="40" width="120">
</a>

